[user]
	email = adithyanair121@gmail.com
	name = Adithya Nair
[core]
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff]
	tool = nvimdiff
