@media (prefers-color-scheme:light) {
--rosewater: #dc8a78;
--flamingo: #dd7878;
--pink: #ea76cb;
--mauve: #8839ef;
--red: #d20f39;
--maroon: #e64553;
--peach: #fe640b;
--yellow: #df8e1d;
--green: #40a02b;
--teal: #179299;
--sky: #04a5e5;
--sapphire: #209fb5;
--blue: #1e66f5;
--lavender: #7287fd;
--text: #4c4f69;
--subtext1: #5c5f77;
--subtext0: #6c6f85;
--overlay2: #7c7f93;
--overlay1: #8c8fa1;
--overlay0: #9ca0b0;
--surface2: #acb0be;
--surface1: #bcc0cc;
--surface0: #ccd0da;
--base: #eff1f5;
--mantle: #e6e9ef;
--crust: #dce0e8;
}

@media (prefers-color-scheme:dark) {
--rosewater: #f5e0dc;
--flamingo: #f2cdcd;
--pink: #f5c2e7;
--mauve: #cba6f7;
--red: #f38ba8;
--maroon: #eba0ac;
--peach: #fab387;
--yellow: #f9e2af;
--green: #a6e3a1;
--teal: #94e2d5;
--sky: #89dceb;
--sapphire: #74c7ec;
--blue: #89b4fa;
--lavender: #b4befe;
--text: #cdd6f4;
--subtext1: #bac2de;
--subtext0: #a6adc8;
--overlay2: #9399b2;
--overlay1: #7f849c;
--overlay0: #6c7086;
--surface2: #585b70;
--surface1: #45475a;
--surface0: #313244;
--base: #1e1e2e;
--mantle: #181825;
--crust: #11111b;
}


:root {
    --image-filters:invert(1) hue-rotate(180deg) contrast(0.8);
    --out-of-focus-opacity:0.5;
    --main-bg-color:var(--base);
    --rule-color: var(--text);
    --kbd-border-color: var(--crust);
    --header-bg-color: var(--base);
    --header-border-color: transparent;
    --ui-button-color: var(--text);
    --cursor-color: var(--text);
    --normal-cell: var(--overlay2);
    --error-color: var(--red);
    --normal-cell-color: rgba(var(--normal-cell),0.2);
    --dark-normal-cell-color:rgba(var(--normal-cell),0.4);
    --selected-cell-color: var(--blue);
    --code-differs-cell-color: var(--peach);
    --error-cell-color:rgba(var(--error-color),0.6);
    --bright-error-cell-color:rgba(var(--error-color),0.9);
    --light-error-cell-color:rgba(var(--error-color),0);
    --export-bg-color: var(--base);
    --export-color: var(--text );
    --export-card-bg-color: var(--mantle);
    --export-card-title-color: var(--text);
    --export-card-text-color: var(--text);
    --export-card-shadow-color:#0000001c;
    --frontmatter-button-bg-color: var(--overlay0);
    --frontmatter-outline-color: var(--text);
    --frontmatter-input-bg-color: var(--mantle );
    --frontmatter-input-border-color: var(--surface2);
    --pluto-schema-types-color: var(--text);
    --pluto-schema-types-border-color: var(--text);
    --pluto-dim-output-color:hsl(0,0,70%);
    --pluto-output-color: var(--overlay0);
    --pluto-output-h-color: var(--overlay1);
    --pluto-output-bg-color:var(--main-bg-color);
    --a-underline: var(--text);
    --blockquote-color:inherit;
    --blockquote-bg: var(--overlay);
    --admonition-title-color:#000;
    --jl-message-color: var(--green);
    --jl-message-accent-color: var(--green);
    --jl-info-color: var(--blue);
    --jl-info-accent-color: var(--blue);
    --jl-warn-color: var(--yellow);
    --jl-warn-accent-color: var(--yellow);
    --jl-danger-color: var(--peach);
    --jl-danger-accent-color: var(--peach);
    --jl-debug-color:var(--mauve);
    --jl-debug-accent-color: var(--mauve);
    --table-border-color: var(--text);
    --table-bg-hover-color: var(--lavender);
    --pluto-tree-color: var(--subtext1);
    --disabled-cell-bg-color: var(--overlay2);
    --selected-cell-bg-color: var(--blue);
    --hover-scrollbar-color-1: var(--crust);
    --hover-scrollbar-color-2: var(--crust);
    --skip-as-script-background-color: var(--overlay0);
    --depends-on-skip-as-script-background-color: var(--overlay0);
    --shoulder-hover-bg-color: var(--text);
    --pluto-logs-bg-color: var(--crust);
    --pluto-logs-key-color: var(--text);
    --pluto-logs-progress-fill: var(--green);
    --pluto-logs-progress-bg: var(--surface1);
    --pluto-logs-progress-border: var(--lavender);
    --pluto-logs-info-color: var(--surface1);
    --pluto-logs-info-accent-color:inherit;
    --pluto-logs-warn-color: var(--yellow);
    --pluto-logs-warn-accent-color: var(--yellow);
    --pluto-logs-danger-color: var(--peach);
    --pluto-logs-danger-accent-color: var(--peach);
    --pluto-logs-debug-color: var(--mauve);
    --pluto-logs-debug-accent-color: var(--mauve);
    --nav-h1-text-color: var(--text);
    --nav-filepicker-color: var(--subtext1);
    --nav-filepicker-border-color: var(--overlay1);
    --nav-process-status-bg-color: var(--surface1);
    --nav-process-status-color:var(--pluto-output-h-color);
    --restart-recc-header-color: var(--blue);
    --restart-recc-accent-color: var(--blue);
    --restart-req-header-color: var(--peach);
    --dead-process-header-color: var(--peach);
    --loading-header-color: var(--surface1);
    --disconnected-header-color: var(--peach);
    --binder-loading-header-color: var(--pink);
    --loading-grad-color-1: var(--blue);
    --loading-grad-color-2: var(--overlay1);
    --overlay-button-bg: var(--mantle);
    --overlay-button-border: var(--overlay0);
    --overlay-button-border-save: var(--yellow);
    --overlay-button-color: var(--text);
    --input-context-menu-border-color: var(--text);
    --input-context-menu-bg-color: var(--base);
    --input-context-menu-soon-color:var(--overlay1);
    --input-context-menu-hover-bg-color: var(--text);
    --input-context-menu-li-color:#c7c7c7;
    --pkg-popup-bg:#3d2f44;
    --pkg-popup-border-color:#574f56;
    --pkg-popup-buttons-bg-color:var(--input-context-menu-bg-color);
    --black: var(--text);
    --white: var(--base);
    --pkg-terminal-bg-color: var(--base);
    --pkg-terminal-border-color: var(--overaly1);
    --pluto-runarea-bg-color: var(--mantle);
    --pluto-runarea-span-color: var(--overlay0);
    --dropruler-bg-color: var(--text);
    --jlerror-header-color: var(--flamingo);
    --jlerror-mark-bg-color: var(--crust);
    --jlerror-a-bg-color:var(--overlay);
    --jlerror-a-border-left-color:#6d7141;
    --jlerror-mark-color:#b1a9a9;
    --helpbox-bg-color:#1e221f;
    --helpbox-box-shadow-color:#00000017;
    --helpbox-header-bg-color:#2c3e36;
    --helpbox-header-tab-bg-color:#554e4e;
    --helpbox-header-color:#fff8eb;
    --helpbox-search-bg-color:#2c2c2c;
    --helpbox-search-border-color:#757575;
    --helpbox-notfound-search-color:#8b8b8b;
    --helpbox-text-color:#e6e6e6;
    --code-section-bg-color:#2c2c2c;
    --code-section-border-color:#555a64;
    --process-item-bg:#443d44;
    --process-busy:#ffcd70;
    --process-finished:#7ab881;
    --process-undefined:#979797;
    --process-failed:#b87e7a;
    --process-notify-bg:#363636;
    --footer-color:#cacaca;
    --footer-bg-color:var(--header-bg-color);
    --footer-atag-color:#72a1df;
    --footer-input-border-color:#6c6c6c;
    --footer-filepicker-button-color:#000;
    --footer-filepicker-focus-color:#c1c1c1;
    --footnote-border-color:rgba(114,225,231,0.15);
    --undo-delete-box-shadow-color:hsla(240,1%,84%,0.2);
    --cm-color-editor-tooltip-border:rgba(0,0,0,0.2);
    --cm-color-editor-li-aria-selected-bg:#3271e7;
    --cm-color-editor-li-aria-selected:#fff;
    --cm-color-editor-li-notexported:hsla(0,0%,100%,0.5);
    --code-background:#292d38;
    --cm-color-code-differs-gutters:rgb(235 213 28/11%);
    --cm-color-line-numbers:#8d86875e;
    --cm-selection-background:rgba(84,139,217,0.48);
    --cm-selection-background-blurred:hsla(0,0%,59%,0.48);
    --cm-highlighted:#cbceb629;
    --cm-color-editor-text:#ffe9fc;
    --cm-color-comment:#e96ba8;
    --cm-color-atom:#e46b58;
    --cm-color-number:#a57acd;
    --cm-color-property:#f99b15;
    --cm-color-keyword:#ff7a6f;
    --cm-color-string:#df7e4e;
    --cm-color-var:#afb7d3;
    --cm-color-var2:#06b6ef;
    --cm-color-macro:#82b38b;
    --cm-color-builtin:#5e7ad3;
    --cm-color-function:#f99b15;
    --cm-color-type:#94894c;
    --cm-color-bracket:#a2a273;
    --cm-color-tag:#ef6155;
    --cm-color-link:#815ba4;
    --cm-color-error-bg:#ef6155;
    --cm-color-error:#f7f7f7;
    --cm-color-matchingBracket:#fff;
    --cm-color-matchingBracket-bg:#c58c237a;
    --cm-color-placeholder-text:rgb(255 255 255/20%);
    --cm-color-clickable-underline:#5d5f70;
    --cm-color-html:#00ab85;
    --cm-color-html-accent:#00e7b4;
    --cm-color-css:#ebd073;
    --cm-color-css-accent:#fffed2;
    --cm-css-why-doesnt-codemirror-highlight-all-the-text-aaa:#ffffea;
    --cm-color-md:#a2c9d5;
    --cm-color-md-accent:#00a9d1;
    --autocomplete-menu-bg-color:var(--input-context-menu-bg-color);
    --index-text-color:#c7c7c7;
    --index-light-text-color:#c7c7c7;
    --index-clickable-text-color:#ebebeb;
    --docs-binding-bg:#323431;
    --index-card-bg:#313131;
    --welcome-mywork-bg:var(--header-bg-color);
    --welcome-newnotebook-bg:#444866;
    --welcome-recentnotebook-bg:#3b3b3b;
    --welcome-recentnotebook-border:#6e6e6e;
    --welcome-open-bg:#434765;
    --welcome-card-author-backdrop:#0000006b
}
