@import "everforest.css";

* {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", sans-serif;
    background: @bg-muted;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 2px;
    margin: 5px;
    background: @bg-muted;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.modules-left:hover,
.modules-center:hover,
.modules-right:hover {
    background: @bg;
}

#clock,
#workspaces,
#network,
#battery,
#pulseaudio,
#bluetooth {
    padding: 0 5px;
    color: @fg;
    transition: all 0.3s ease;
}

#pulseaudio:hover,
#network:hover,
#battery:hover {
    color: @accent;
}

#bluetooth {
    color: @fg;
}

#battery.charging {
    color: @accent;
}

#battery.critical:not(.charging) {
    color: @fg;
    animation: blink 0.5s linear infinite alternate;
}

#workspaces button {
    all: unset;
    padding: 0 5px;
    color: @bg-muted-plus;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: @fg;
    text-shadow: 0 0 1.5px @fg;
    transition: all 1s ease;
}

#workspaces button.active {
    color: @accent;
    text-shadow: 0 0 2px @bg;
}

tooltip {
    background: @bg;
    color: @fg;
}

@keyframes pulse {
    from { opacity: 0.85; }
    to   { opacity: 1; }
}

#mpris {
  font-family: "Font Awesome 5 Free", "JetBrainsMono Nerd Font", "Fira Code", sans-serif;
  color: @fg;
}
