@import "everforest.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka NF";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}


/* Common module styling with border-bottom */
#mode, #mpd, #custom-weather, #custom-playerctl, #clock, #cpu,
#memory, #temperature, #battery, #network, #pulseaudio,
#backlight, #disk, #custom-uptime, #custom-updates, #custom-quote,
#idle_inhibitor, #tray {
    padding: 0 10px;
    margin: 0 2px;
    background-color: transparent;
}

/* Workspaces styling */
#workspaces {
  background: transparent;
  margin: 0 5px;
}

#workspaces button {
  color: @workspaces-color;
  background: transparent;
  padding: 0 6px;
  margin: 2px 2px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

/* Focused workspace */
#workspaces button.focused {
  color: @workspaces-focused-fg;
  background: @workspaces-focused-bg;
  font-weight: bold;
}

/* Urgent workspace */
#workspaces button.urgent {
  color: @workspaces-urgent-fg;
  background: @workspaces-urgent-bg;
  font-weight: bold;
}

/* Visible (but not focused) workspace */
#workspaces button.visible {
  color: @workspaces-color;
  background: @background-light;
}

/* Hover effect */
#workspaces button:hover {
  background: @background-light;
  color: @foreground;
}

#mpd {
    color: @mpd-color;
}

#mpd.disconnected,
#mpd.stopped {
    color: @foreground;
}

#custom-weather {
    color: @weather-color;
}

#custom-playerctl {
    color: @playerctl-color;
}

#custom-playerctl.Playing {
    color: @cyan;
}

#custom-playerctl.Paused {
    color: @orange;
}

#clock {
    color: @clock-color;
}

#cpu {
    color: @cpu-color;
}

#memory {
    color: @memory-color;
}

#temperature {
    color: @temperature-color;
}

#temperature.critical {
    color: @temperature-critical-color;
}

#battery {
    color: @battery-color;
}

#battery.charging, #battery.plugged {
    color: @battery-charging-color;
}

#battery.warning:not(.charging) {
    color: @battery-warning-color;
}

#battery.critical:not(.charging) {
    color: @battery-critical-color;
}

#network {
    color: @network-color;
}

#network.disconnected {
    color: @network-disconnected-color;
}

#pulseaudio {
    color: @pulseaudio-color;
}

#pulseaudio.muted {
    color: @pulseaudio-muted-color;
}

#backlight {
    color: @backlight-color;
}

#disk {
    color: @disk-color;
}

#custom-uptime {
    color: @uptime-color;
}

#custom-updates {
    color: @updates-color;
}

#custom-quote {
    color: @quote-color;
}

#idle_inhibitor {
    color: @idle-inhibitor-color;
}

#idle_inhibitor.activated {
    color: @idle-inhibitor-active-color;
}

#tray {
    background-color: transparent;
    padding: 0 10px;
    margin: 0 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}
