@define-color accent #ff6507;
@define-color bg-muted #404040;
@define-color bg-muted-plus  #737373;
@define-color bg  #121212;
@define-color fg  #fff;

* {
  font-family: JetBrainsMono Nerd Font, sans-serif;
}

window {
  margin: 1px;
  border: 5px solid @accent;
  border-radius: 7px;
}

#input {
  margin: 1px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid @accent;
  background-color: @bg;
  color: @fg;
}

#inner-box {
  margin: 5px;
  background-color: @bg;
}

#outer-box {
  margin: 3px;
  padding: 14px;
  background-color: @bg;
  border-radius: 10px;
}

#text {
  margin: 5px;
  color: @fg;
}

#entry:selected {
  background-color: @bg-muted;
}

